* {
    box-sizing: border-box;
}


.section-groups {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 400px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.section h1 {
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}


.section button {
    cursor: pointer;
    background: #fff;
    color: black;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
}

.section button:active {
    background: #cccccc;
}
